extend index

block content
	div(class="mdl-grid demo-content")
		div(id="content_table", class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid", style="overflow-x:auto")
			table(class="full-width mdl-data-table mdl-js-data-table")
				thead
					tr
						th No
						th(class="mdl-data-table__cell--non-numeric") PO #
						th(class="mdl-data-table__cell--non-numeric") PO Date
						th(class="mdl-data-table__cell--non-numeric") Item Name
						th(class="mdl-data-table__cell--non-numeric") Branch
						th(class="mdl-data-table__cell--non-numeric") Serial #
						th Landed Cost (RM)
						th Retail (RM)
						th(class="mdl-data-table__cell--non-numeric") Status
						th(class="mdl-data-table__cell--non-numeric") Notes
						th
					tr
						td(class="mdl-data-table__cell--non-numeric")
							i(class="material-icons") search
						td(class="mdl-data-table__cell--non-numeric")
							input(class="search", params="po_number")
						td(class="mdl-data-table__cell--non-numeric")
							input(class="search", params="date")
						td(class="mdl-data-table__cell--non-numeric")
							input(class="search", params="name")
						td(class="mdl-data-table__cell--non-numeric")
							input(class="search", params="branch")
						td(class="mdl-data-table__cell--non-numeric")
							input(class="search", params="serial")
						td(class="")
							input(class="search", params="cost")
						td(class="")
							input(class="search", params="retail")
						td(class="mdl-data-table__cell--non-numeric")
							input(class="search", params="status")
						td(class="mdl-data-table__cell--non-numeric")
							input(class="search", params="notes")
						td(class="mdl-data-table__cell--non-numeric", style="padding:0px 0px 0px;vertical-align: middle;")
							button(id="search_clear", class="mdl-button mdl-js-button mdl-button--accent", title="Clear all")
								i.material-icons clear
						
				tbody
	script(src="js/inventory.js")