extend index

block content
	div(class="mdl-grid demo-content")
		div(class="mdl-cell mdl-cell--12-col mdl-grid")
			button(id="button_user_add", class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent") New user
		div(id="content_user_add", class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid")
			div(class="form-group mdl-cell")
				label(for="add_user_user", class="control-label") User
				div
					input(type="text", class="form-control", id="add_user_user")
			div(class="form-group mdl-cell")
				label(for="add_user_password", class="control-label") Password
				div
					input(type="password", class="form-control", id="add_user_password")
			div(class="form-group mdl-cell")
				label(for="add_user_initials", class="control-label") Initials
				div
					input(type="text", class="form-control", id="add_user_initials")
			div(class="form-group mdl-cell")
				label(for="add_user_name", class="control-label") Name
				div
					input(type="text", class="form-control", id="add_user_name")
			div(class="mdl-grid mdl-cell mdl-cell--12-col")
				button(id="button_user_save", class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored") Add User
		div(id="content_user_table", class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid", style="overflow-x:auto")
			table(class="full-width mdl-data-table mdl-js-data-table")
				thead
					tr
						th ID
						th(class="mdl-data-table__cell--non-numeric") Name
						th(class="mdl-data-table__cell--non-numeric") User
						th(class="mdl-data-table__cell--non-numeric") Initials
						th(class="mdl-data-table__cell--non-numeric") Password
						th(class="mdl-data-table__cell--non-numeric") Group
						th
					tr
						td(class="mdl-data-table__cell--non-numeric")
							i(class="material-icons") search
						td(class="mdl-data-table__cell--non-numeric")
							input(class="user_search", params="name")
						td(class="mdl-data-table__cell--non-numeric")
							input(class="user_search", params="user")
						td(class="mdl-data-table__cell--non-numeric")
							input(class="user_search", params="initials")
						td(class="mdl-data-table__cell--non-numeric")
							
						td(class="mdl-data-table__cell--non-numeric")
							input(class="user_search", params="group")
						td(class="mdl-data-table__cell--non-numeric", style="padding:0px 0px 0px;vertical-align: middle;")
							button(id="search_user_clear", class="mdl-button mdl-js-button mdl-button--accent", title="Clear all")
								i.material-icons clear
						
				tbody		
	script(src="js/management.js")