extend index

block content
	div(class="mdl-grid demo-content")
		div(class="mdl-cell mdl-cell--12-col mdl-grid")
			button(id="button_add", class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent") New vendor
		form(id="add_form", method="post", enctype="multipart/form-data")
			div(id="content_add", class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid")
				div(class="form-group mdl-cell")
					label(for="add_name", class="control-label") Name
					div
						input(type="text", class="form-control", id="add_name")
				div(class="form-group mdl-cell")
					label(for="add_phone", class="control-label") Phone
					div
						input(type="text", class="form-control", id="add_phone")
				div(class="form-group mdl-cell")
					label(for="add_email", class="control-label") Email
					div
						input(type="text", class="form-control", id="add_email")
				div(class="form-group mdl-cell")
					label(for="add_address", class="control-label") Address
					div
						textarea(rows="3", class="form-control", id="add_address")
				div(class="mdl-grid mdl-cell mdl-cell--12-col")
					button(id="button_save", class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored") Add
		div(id="content_table", class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid", style="overflow-x:auto")
			table(class="full-width mdl-data-table mdl-js-data-table")
				thead
					tr
						th(class="") ID
						th(class="mdl-data-table__cell--non-numeric") Name
						th(class="mdl-data-table__cell--non-numeric") Address
						th(class="mdl-data-table__cell--non-numeric") Phone
						th(class="mdl-data-table__cell--non-numeric") Email
						th
					tr
						td(class="")
							i(class="material-icons") search
						td(class="mdl-data-table__cell--non-numeric")
							input(class="search", params="name")
						td(class="mdl-data-table__cell--non-numeric")
							input(class="search", params="address")
						td(class="mdl-data-table__cell--non-numeric")
							input(class="search", params="phone")
						td(class="mdl-data-table__cell--non-numeric")
							input(class="search", params="email")
						td(class="mdl-data-table__cell--non-numeric", style="padding:0px 0px 0px;vertical-align: middle;")
							button(id="search_clear", class="mdl-button mdl-js-button mdl-button--accent", title="Clear all")
								i.material-icons clear
						
				tbody
	script(src="js/vendor.js")